@import "./base/base";
@import "./abstracts/colors";
@import "./abstracts/fonts";

* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: $color-backround-primary;
    height: 100vh;
}

.navigation {
    background-color: $color-backround-primary;
    
    nav {
        padding: 1rem 2rem 4rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul {
            display: flex;
            gap: 4rem;

            li {
                list-style: none;
            }
        }

        button {
            border-radius: 3px;
            border: 1px solid #000;
            width: 9rem;
            height: 2.5rem;
        }

    }
}

main {
    background-color: $color-backround-primary;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31rem;
    margin: auto;
    text-align: center;

    div {
        display: flex;
        gap: 32px
    }

    
}

section {
    background-color: $color-backround-secondary;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 3rem;
    }

    .card-container {
        display: flex;
        gap: 2rem;
        padding-top: 5rem;
        padding-bottom: 4rem;

        div {
            width: 16rem;
            height: 24rem;
            background-color: $color-backround-primary;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 5rem;

            p {
                padding-top: 9rem;
                padding-bottom: 0.25rem;
            }
        }
    }

    .collection-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        div {
            width: 34rem;
            height: 22rem;
            background-color: $color-box-primary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem; 
            padding-top: 6rem;
            margin-bottom: 7rem;

            h2 {
                color: white;
                font-size: 32px;
            }

            h3 {
                color: rgba(255, 255, 255, 0.501);
                font-size: 16px;
                font-weight: 200;
                padding-bottom: 2rem;
            }

            button {
                width: 9rem;
                height: 2.5rem;
                background-color: $color-box-primary;
                box-shadow: none;
                border-radius: 3px;
                border: 1px solid rgba(255, 255, 255, 0.60);
                color: rgba(255, 255, 255, 0.60);
            }
        }
    }
}

footer {
    background-image: url('./assets/footer-map-bg.png');
    background-size: cover;
    height: 34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50rem;
    

   .container {
    width: 27rem;
    height: 26rem;
    background-color: $color-backround-secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;

    h2 {
        font-size: 53px;
    }

    h3 {
        color: #222222CC;
        font-size: 22px;
    }

    p {
        color: #22222299;
        font-size: 14px;
        padding-bottom: 1rem;
    }

    div {
        display: flex;
        gap: 1rem;

        p {
            color: #222222;
        }
    }
   }
}