@use '../abstracts/colors' as color;
@use '../mixin/mixin' as mixin;
.list {
    height: 100%;
    @include mixin.flex-settings(flex, column, center, center);

    ul {
        @include mixin.flex-settings(flex, column);
        gap: 2rem;
    }

    .write-btn {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        @include mixin.flex-settings(flex, row, center, center);
        height: 5rem;
        width: 5rem;
        background-color: color.$primary;
        border-radius: 50%;
    }

    li {
        min-width: 30rem;
        background-color: color.$backround-light;
        border-radius: 0.3rem;
        @include mixin.flex-settings(flex, row, center, center);
        @include mixin.list-mix;
        
        .note-top {
            .title {
                margin-top: 1rem;
                @include mixin.set-font(1.5rem, 700)
            }
            .date {
                color: color.$text-dark-secondary;
                margin-bottom: 1rem;
                
            }
        }

        .note-info {
            textarea {
                resize: none;
                border: none;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        .note-bottom {

            div {
                @include mixin.flex-settings(flex, row, space-between, center);
                margin-bottom: 1rem;
                
            .flex-container-1 {
                gap: 1rem;
                p {
                    @include mixin.set-font(1.5rem,900);
                    font-style: italic;
                }
            }

            .flex-container-2 {
                gap: 1rem;
                button {
                    border: none;
                    min-height: 2.5rem;
                    min-width: 6rem;
                    
                }
            }
            }

        }
    }
}